# Map bot commits and alternate emails to primary GitHub identity
DevMuktary <mukhtarakanniabdulwaheed@gmail.com> railway-app[bot] <68434857+railway-app[bot]@users.noreply.github.com>
DevMuktary <mukhtarakanniabdulwaheed@gmail.com> snyk-bot <snyk-bot@snyk.io>
DevMuktary <mukhtarakanniabdulwaheed@gmail.com> MUKTAR ABDULWAHEED <nou261105134@noun.edu.ng>
DevMuktary <mukhtarakanniabdulwaheed@gmail.com> MUKTAR ABDULWAHEED <mukhtarakanniabdulwaheed@gmail.com>
